body {
  overflow: hidden;
}

#field {
  position: relative;
  background-image: url('../img/bg.svg');
  width: 320px;
  height: 320px;
}

.entity {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: 0px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.entity.wall {
  background-image: url('../img/wall.svg');
}

.entity.wall.can_portal {
  background-image: url('../img/wall_p.svg');
}

.entity.player {
  background-image: url('../img/player.svg');
}

.entity.player .target_ray {
  position: absolute;
  top: 2px;
  left: 19px;
  height:2px;
  width:1000px;
  background: red;
  transform: rotate(-90deg);
  transform-origin: 0px 0px;
}

.entity.cube {
  background-image: url('../img/cube.svg');
}

.entity.bomb {
  background-image: url('../img/bomb.svg');
  background-position: 4px 4px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.entity.portal {
  background-image: url('../img/portal.svg');
}

.explosion {
  position: absolute;
  z-index: 100;
}

.explosion:after {
  content: "";
  background-color:#f00;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
