@font-face {
    font-family: roboto;
    src: url('/Roboto-Regular.ttf');
}

html, body {
  height:100%;
}

#logo {
  display: none;
  position: absolute;
  right:0px;
  bottom:0px;
  max-height: 75%;
}

body.menu #logo {
  display: block;
}

div.info {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  max-width: 40%;

  -webkit-box-shadow: inset 0px 0px 45px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 45px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 45px 0px rgba(0,0,0,0.75);

  color: black;
  background-color: #FCEEFF;
  padding: 1em;
  /* padding-bottom: 2em; */
}

div.info a {
  text-decoration: none;
}

body.menu {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle at bottom right, #444 0%,#000 90%);
}

div.menu {
  text-transform: uppercase;
  width: 20%;
  position: fixed;
  bottom: 20%;
  left: 10%;
}

div.menu h1 {
  display: block;
  color: white;
}

div.menu a {
  list-style: none;
  display: block;

  text-decoration: none;
  color: #474747;
  font-size: 18pt;
  padding: 0.2em 0 0.2em 0.5em;
  margin-bottom: 0.1em;
}

div.menu a.selected {
  color: white;
  background: #474747;
}
